version: '3.8'
services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DB_URL=jdbc:postgresql://db:5432/albarakadb
      - DB_USER=postgres
      - DB_PASSWORD=password
    depends_on:
      - db
  
  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=albarakadb
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
